/* General */

html,
body {
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
    box-shadow: 0px 5px 5px 0px gray;
}

html {
    background-color: gainsboro;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffdc71;
    max-width: 940px;
    margin: auto;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.header {
    grid-area: header;
}

.header img {
    width: 100%;
    margin: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 5px 5px;
    background-color: #ffdc71;
    justify-items: center;
    grid-auto-flow: row;
    grid-template-areas:
        "main-player-score main-com-score"
        "main-player-img main-com-img"
        "main-text main-text"
        "main-panel-game main-panel-game";
    grid-area: main;
}

.main-player-score {
    grid-area: main-player-score;
}

.main-com-score {
    grid-area: main-com-score;
}

.gamer-text {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.player-score-text,
.com-score-text {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 40px;
}

.main-player-img {
    grid-area: main-player-img;
    text-align: center;
    font-size: 20px;
}

.main-player-img img {
    width: 100px;
}

.main-com-img {
    grid-area: main-com-img;
    text-align: center;
    font-size: 20px;
}

.main-com-img img {
    width: 100px;
}

.main-text {
    grid-area: main-text;
}

.main-text p {
    font-size: 20px;
}

.main-panel-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "main-panel-game-1 main-panel-game-2 main-panel-game-3 main-panel-game-4 main-panel-game-5";
    grid-area: main-panel-game;
}

.main-panel-game-1 {
    grid-area: main-panel-game-1;
}

.main-panel-game-1 button {
    border-radius: 40px;
    border: 1px solid;
    background-color: #6f6f6f;
}

.main-panel-game-1 img {
    width: 40px;
}

.main-panel-game-1 img:hover {
    transform: scale(1.5);
}



.main-panel-game-2 {
    grid-area: main-panel-game-2;
}

.main-panel-game-2 img {
    width: 40px;
}

.main-panel-game-2 img:hover {
    transform: scale(1.5);
}

.main-panel-game-2 button {
    border-radius: 40px;
    border: 1px solid;
    background-color: #fff834;
}

.main-panel-game-3 {
    grid-area: main-panel-game-3;
}

.main-panel-game-3 img {
    width: 40px;
}

.main-panel-game-3 img:hover {
    transform: scale(1.5);
}

.main-panel-game-3 button {
    border-radius: 40px;
    border: 1px solid;
    background-color: #ff0000;
}

.main-panel-game-4 {
    grid-area: main-panel-game-4;
}

.main-panel-game-4 img {
    width: 40px;
}

.main-panel-game-4 img:hover {
    transform: scale(1.5);
}

.main-panel-game-4 button {
    border-radius: 40px;
    border: 1px solid;
    background-color: #009900;
}

.main-panel-game-5 {
    grid-area: main-panel-game-5;
}

.main-panel-game-5 img {
    width: 40px;
}

.main-panel-game-5 img:hover {
    transform: scale(1.5);
}

.main-panel-game-5 button {
    border-radius: 40px;
    border: 1px solid;
    background-color: #0c00ff;
}

.footer {
    grid-area: footer;
}

.img-player {
    background-image: url('../images/player.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-computer {
    background-image: url('../images/computer.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-rock {
    background-image: url('../images/rock-x.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-scissors {
    background-image: url('../images/scissors-x.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-paper {
    background-image: url('../images/paper-x.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-lizard {
    background-image: url('../images/lizard-x.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.img-spock {
    background-image: url('../images/spock-x.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-restart {
    visibility: hidden;
    text-align: center;
    width: 53px;
    margin-top: 20px;
    border: 0 !important;
    padding: 5px !important;
    border-radius: 0 !important;
    background-color: whitesmoke !important;
    color: black !important;
    border: 2px solid #555555;
}

.btn-restart:hover {
    background-color: #555555 !important;
    color: white !important;
}

.social-networks {
    font-size: 25px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    border-top: 1px dotted gray;
}

.social-networks a {
    color: black;
}

.social-networks a i {
    margin: 0 5px 0 5px;
}

.info-icon {
    color: teal !important;
}

/* CSS Grid: (from 376px) */

@media (min-width: 500px) {

    .main-player-img img {
        width: 200px;
    }

    .main-com-img img {
        width: 200px;
    }

    .main-panel-game-1 img {
        width: 80px;
    }

    .main-panel-game-2 img {
        width: 80px;
    }

    .main-panel-game-3 img {
        width: 80px;
    }

    .main-panel-game-4 img {
        width: 80px;
    }

    .main-panel-game-5 img {
        width: 80px;
    }

    .btn-restart {
        width: auto;
        border: 0 !important;
        padding: 5px !important;
    }
}